.list {
    text-align: left;
    max-width: 750px;
    margin: auto;
  }
  
  .submit-form {
    max-width: 70%;
    min-height: auto;
    margin: auto;
  }
  
  .edit-form {
    max-width: 70%;
    margin: auto;
  }